@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background-color: rgb(37, 37, 75); */
  font-family: "Nunito", serif;
  scroll-behavior: smooth;
}
.active {
  /* background-color: rgb(37, 37, 75); */
  background-color: white;
  color: rgb(37, 37, 75) !important;
}
.text-body {
  color: rgb(37, 37, 75) !important;
}
.bg-body {
  background-color: rgb(37, 37, 75) !important;
}
li a:hover {
  background-color: white;
  color: rgb(37, 37, 75);
}
.bg-main {
  background-color: #4aacf2;
}
.text-main {
  color: #4aacf2 !important;
}
.bg-alt {
  background-color: #87c6f3;
}
/*  --------------
    page container
    -------------- */
.container {
  @apply px-3 md:px-0 mx-auto;
}
